In [76]:
import json
import pandas as pd
from pprint import pprint
import numpy as np
import matplotlib.pyplot as pyplot
import http.client
#from config.py import api_key

In [ ]:
"""
famavesv - Average family size for people living in the area

hhdfam - Number of family households in the area. A family household 
consists of a householder and one or more other person living in the same 
household who are related to the householder by birth, marriage or adoption

cocrmcytotc - Only included for ZI, PL, CS and TR level records: A score 
that represents the combined risks of rape, murder, assault, robbery, 
burglary, larceny and vehicle theft compared to the national average of 
100. A score of 200 indicates twice the national average total crime 
risk, while 50 indicates half the national risk. The different types of 
crime are given equal weight in this score.
"""

In [85]:
conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

headers = { 
    'accept': "application/json", 
    'apikey': "71a48c8fc563111ab89c14d39ebafcdc", 
} 

conn.request("GET", "/communityapi/v2.0.0/area/full?AreaID=ZI30309", headers=headers) 

res = conn.getresponse() 
data = res.read() 
family = json.loads(data)
#pprint(family["response"]["result"]["package"]["item"][0]["cocrmcytotc"])

In [82]:
#Define the list for the desired zip codes
zipCodes = ["30314", "30310", "30312", "30308", "30306", "30311", "30318", "30307", "30309"]

#initialize variables to store data for the desired attributes
family_size = []
num_households = []
crime_score = []

#for loop to hit each zip code and pull data
for code in zipCodes:
    
    conn = http.client.HTTPSConnection("api.gateway.attomdata.com")
     
    headers = { 
    'accept': "application/json", 
    'apikey': "71a48c8fc563111ab89c14d39ebafcdc", 
    }
    
    conn.request("GET", f"/communityapi/v2.0.0/area/full?AreaID=ZI{code}" , headers=headers) 
    
    res = conn.getresponse()
    info = res.read()
    data = json.loads(info)
    
    family_size.append(data["response"]["result"]["package"]["item"][0]["famavesz"])
    num_households.append(data["response"]["result"]["package"]["item"][0]["hhdfam"])
    crime_score.append(data["response"]["result"]["package"]["item"][0]["cocrmcytotc"])
    
print(family_size)
print(num_households)
print(crime_score)

['4.00', '4.00', '3.00', '3.00', '3.00', '4.00', '3.00', '3.00', '3.00']
['3403', '6125', '3948', '2959', '4864', '8105', '10750', '4264', '4405']
['253', '253', '253', '253', '253', '253', '253', '189', '253']

In [84]:
df = pd.DataFrame({"Zip Cods": zipCodes, "Family Size": family_size, 
                  "Num. Family Households": num_households, "Crime Score":
                  crime_score})
df

  Zip Cods Family Size Num. Family Households Crime Score
0    30314        4.00                   3403         253
1    30310        4.00                   6125         253
2    30312        3.00                   3948         253
3    30308        3.00                   2959         253
4    30306        3.00                   4864         253
5    30311        4.00                   8105         253
6    30318        3.00                  10750         253
7    30307        3.00                   4264         189
8    30309        3.00                   4405         253